# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem

_Objectives:_

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Keras

| Data Science Tools |
|--------------------|
| Apache Spark |
| RStudio |
| Apache Hadoop |

| Data Science Tools |
|--------------------|
| Apache Spark |
| RStudio |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
min= 200
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## Author
Mandreen Frank